<section>
  <ul class="flex flex-wrap">
    <%= for project <- @projects do %>
      <li class="p-4 sm:w-1/2 md:w-1/3 lg:w-1/4 hover:text-orange-500">
        <a href="<%= Routes.project_path(@conn, :show, project) %>">
          <div class="border">
            <img src="<%= project.cover_url %>/400x400.jpg" />
          </div>
          <div class="py-2">
            <%= project.title %>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
</section>
