/* This file is for your main application css. */

@tailwind base;

@tailwind components;

/* Reach UI */
[data-reach-menu-item][data-selected] {
  @apply bg-blue-600;
}

/* tailwind does not handle placeholder styles */
input::placeholder {
  @apply text-gray-600;
}

.col-gap-0 {
  column-gap: 0;
}

.col-3 {
  column-count: 3;
}

@media (min-width: 768px) {
  .md\:col-9 {
    column-count: 9;
  }
}

@tailwind utilities;
