/* This file is for your main application css. */

@tailwind base;

@tailwind components;

h1 {
  font-family: "futura-pt";
}

body {
  font-family: "Proxima-Nova";
}

#logo {
  position: relative;
  width: 110px;
  height: 76px;
}
#logo div {
  position: absolute;
  background: black;
}
#logo-left {
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
}
#logo-top-left {
  top: 0;
  left: 0;
  width: 20px;
  height: 8px;
}
#logo-bottom-left {
  bottom: 0;
  left: 0;
  width: 20px;
  height: 8px;
}
#logo-right {
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
}
#logo-top-right {
  top: 0;
  right: 0;
  width: 20px;
  height: 8px;
}
#logo-bottom-right {
  bottom: 0;
  right: 0;
  width: 20px;
  height: 8px;
}
#logo-dot-1 {
  bottom: 16px;
  left: 28px;
  width: 12px;
  height: 12px;
}
.logo-loading #logo-dot-1 {
  animation: 1.2s dot1 infinite;
}
#logo-dot-2 {
  bottom: 16px;
  left: 49px;
  width: 12px;
  height: 12px;
}
.logo-loading #logo-dot-2 {
  animation: 1.2s dot2 infinite;
}
#logo-dot-3 {
  bottom: 16px;
  right: 28px;
  width: 12px;
  height: 12px;
}
.logo-loading #logo-dot-3 {
  animation: 1.2s dot3 infinite;
}

@keyframes dot1 {
  O% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot2 {
  O% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot3 {
  O% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes content-loading {
  from {
    margin-top: 0;
    opacity: 1;
  }
  to {
    margin-top: -20px;
    opacity: 0;
  }
}

@keyframes content-loaded {
  from {
    margin-top: -20px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes project-loaded {
  from {
    margin-left: -200px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

.content-loading #content {
  animation: 0.3s content-loading;
  animation-fill-mode: forwards;
}
.content-loaded #content {
  animation: 0.3s content-loaded;
  animation-fill-mode: forwards;
}
.content-loading #project-title {
  opacity: 0;
}
.content-loaded #project-title {
  opacity: 0;
}
.content-loaded #project-title {
  animation: 0.3s project-loaded 0.2s;
  animation-fill-mode: forwards;
}

#about-content {
  max-width: 700px;
  margin: 0 auto;
}

/* Algolia places */
.ap-input {
  @apply border-gray-300 px-3 py-2 rounded-sm bg-gray-100;
}
.ap-input:focus {
  @apply border-blue-500;
}
.ap-input-icon {
  top: 20px;
  bottom: inherit;
}
.ap-suggestions {
}
.ap-suggestions svg {
  display: inline-block;
  vertical-align: baseline;
}
.ap-footer {
  display: none;
}

/* Reach UI */
[data-reach-menu-item][data-selected] {
  @apply bg-blue-600;
}

/* tailwind does not handle placeholder styles */
input::placeholder {
  @apply text-gray-600;
}

@tailwind utilities;
