/* This file is for your main application css. */

@tailwind base;

@tailwind components;

:root {
  --ratio: 1.2;
  --measure: 80ch;
  --s-6: calc(var(--s-5) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));
  --s7: calc(var(--s6) * var(--ratio));
  --s8: calc(var(--s7) * var(--ratio));
  font-size: calc(0.05vw + 1em);
  --line-height: 1.5rem;
  line-height: var(--line-height);
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1 {
  @apply text-center text-3xl tracking-wider font-black uppercase;
  padding-top: var(--s6);
  padding-bottom: var(--s2);
  line-height: 1.1;
}
h2 {
  line-height: 1.2;
}

/********
 * LOGO *
 ********/

@keyframes dot1 {
  O% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot2 {
  O% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot3 {
  O% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo-loading #logo-dot-1 {
  animation: 1.2s dot1 infinite;
}
.logo-loading #logo-dot-2 {
  animation: 1.2s dot2 infinite;
}
.logo-loading #logo-dot-3 {
  animation: 1.2s dot3 infinite;
}

.logo-wrapper {
  padding: var(--s1) 0;
}
/**************
 * NAVIGATION *
 **************/
nav a {
  font-size: calc(var(--s0));
  padding: var(--s0);
  display: inline-block;
}

/********
 * MAIN *
 ********/
main {
  margin-top: var(--s8);
  padding-left: var(--s0);
  padding-right: var(--s0);
  padding-bottom: var(--s8);
}
@media (min-width: 768px) {
  main {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

/**********************
 * CONTENT NAVIGATION *
 **********************/

@keyframes content-loading {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

@keyframes content-loaded {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes content-loaded-title {
  from {
    transform: translateX(-2em);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content-loading #content {
  animation: 0.3s content-loading;
  animation-fill-mode: forwards;
}
.content-loaded #content {
  animation: 0.3s content-loaded;
  animation-fill-mode: forwards;
}
.content-loaded h1 {
  opacity: 0;
}
.content-loaded h1 {
  animation: 0.3s content-loaded-title 0.2s;
  animation-fill-mode: forwards;
}

/*********
 * ABOUT *
 *********/

#about-content .center {
  max-width: 65ch;
  margin: 0 auto;
}

#about-content .side-image {
  flex-grow: 1;
  flex-basis: 0;
}
#about-content .side-text {
  max-width: 65ch;
  flex-grow: 1;
  flex-basis: 65ch;
}

#about-content .photos {
  width: 99vw;
  margin-left: 50%;
  transform: translateX(-50%);
}
#about-content .photos > * {
  max-width: 125rem;
  margin-left: auto;
  margin-right: auto;
}

#about-content .structure {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: calc(var(--s4) / 2 * -1);
}
#about-content .structure *:nth-child(2) {
  max-width: 55ch;
}
#about-content .structure > * {
  margin: calc(var(--s4) / 2);
}

@media (min-width: 768px) {
  #about-content .photos img {
    max-width: 20%;
  }
}

/****************
 * PROJECT LIST *
 ****************/

.project-list-nav {
  margin-bottom: var(--s0);
}
@media (min-width: 768px) {
  .project-list-nav {
    margin-bottom: 0;
  }
}
.project-list-nav li {
  padding: 0 var(--s0);
}
@media (min-width: 768px) {
  .project-list-nav li {
    padding: var(--s-1);
  }
}

.category-filter.active {
  @apply font-medium text-gray-900;
}

.navbar-item.active {
  @apply font-black text-gray-100;
}
@media (min-width: 768px) {
  .navbar-item.active {
    @apply text-gray-900;
  }
}

/* grid stolen from https://inclusive-components.design/cards/ */
#project-list .project {
  max-width: 300px;
}
#project-list > .project + .project {
  margin-top: var(--s0);
}
@supports (display: grid) {
  #project-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    grid-gap: var(--s3) var(--s0);
  }
  #project-list .img-wrapper {
    height: 240px;
  }
  #project-list > .project + .project {
    margin-top: 0;
  }
  @media (min-width: 480px) {
    #project-list {
      grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    }
    #project-list .img-wrapper {
      height: auto;
    }
  }
}

#project-list .project {
  position: relative;
}
#project-list .project a::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}

/*******************
 * PROJECT DETAILS *
 *******************/

.project-details--short-description {
  padding-bottom: var(--s6);
  line-height: 1.4;
}

.project-details--content > * + * {
  margin-top: var(--s4);
}

#description {
  overflow-y: hidden;
  height: 5em;
  height: calc(var(--line-height) * 4);
}
.description-open #description {
  height: auto;
  overflow-y: revert;
}

@supports (display: grid) {
  @media (min-width: 640px) {
    .project-details--content > * + * {
      margin-top: 0;
    }
    .project-details--content {
      display: grid;
      align-items: start;
      grid-template-columns: 30ch 1fr;
      grid-template-rows: auto 1fr;
      grid-gap: var(--s4);
    }
    .project-details--description {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
    }
    .project-details--photos {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
    }
    .description-open .project-details--description {
      grid-row: 1 / span 2;
    }
    .description-open .project-details--photos {
      grid-row: 3 / span 1;
    }
  }
}

.project-details--content {
  margin-top: var(--s4);
}

.project-details--infobox {
  margin-top: 0.2em;
  padding: var(--s0) var(--s2);
}
.project-details--infobox > * + * {
  margin-top: var(--s-6);
}

.project-details--photos li + li {
  margin-top: var(--s0);
}

.modal {
  @apply hidden;
}
.modal.is-open {
  @apply block;
}
.modal__close:before {
  content: "\2715";
}

.video-iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#description div > p + p {
  margin-top: var(--line-height);
}

/*************
 * UTILITIES *
 *************/

.text-xs {
  font-size: calc(var(--s-1) - 2px);
}
.text-sm {
  font-size: var(--s-1);
}
.text-3xl {
  font-size: var(--s4);
}
.text-4xl {
  font-size: var(--s5);
}
.text-7xl {
  font-size: var(--s7);
}
.text-2xl {
  font-size: var(--s2);
}
.text-xl {
  font-size: var(--s1);
}
@media (min-width: 768px) {
  .md\:text-3xl {
    font-size: var(--s4);
  }
}
@media (min-width: 768px) {
  .md\:text-7xl {
    font-size: var(--s7);
  }
}

.stack\:-4 > * + * {
  margin-top: var(--s-4);
}
.stack\:-6 > * + * {
  margin-top: var(--s-6);
}

.pb-full {
  padding-bottom: 100%;
}

/********
 * PONG *
 ********/
#logo {
  cursor: pointer;
}
@keyframes pong-logo-intro {
  100% {
    transform: translateY(154px) scale(1.1);
  }
}
@keyframes pong-logo-outro {
  0% {
    transform: translateY(154px);
  }
  100% {
    transform: translateY(0);
  }
}
#logo.pong {
  animation: 500ms pong-logo-intro forwards;
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
#logo.pong-outro {
  animation: 500ms pong-logo-outro forwards;
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
#pong-stage {
  position: absolute;
  display: none;
  cursor: none;
  top: 165px;
  left: 50%;
  margin-left: -300px;
  z-index: 999;
}
#pong-stage.active {
  display: block;
}

.cat {
  position: absolute;
  z-index: 30;
  top: 20px;
  right: 20px;
}

@tailwind utilities;
