@tailwind base;

@tailwind components;

div,
p {
  font-family: "Proxima-Nova";
}

#map-container {
  position: absolute;
  top: 0;
  bottom: 4rem;
  left: 0;
  right: 0;
}
@media (min-width: 768px) {
  #map-container {
    bottom: 0;
    top: 3rem;
  }
}

.navbar-item.active {
  @apply font-medium text-gray-100;
}
@media (min-width: 768px) {
  .navbar-item.active {
    @apply font-medium text-gray-900;
  }
}

@tailwind utilities;
