<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Parenthèse</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://use.typekit.net/nqt3mmo.css">
  </head>
  <body class="bg-gray-100 text-gray-900 overflow-y-scroll">
    <main role="main" class="container mx-auto pt-6 mb-8 px-6">
      <div class="bg-gray-100 z-10 relative">
        <div class="flex justify-between md:justify-center pb-4 md:pb-6">
          <button id="sidebar-open" type="button" class="md:hidden">
            <svg class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
          </button>
          <button id="sidebar-close" type="button" class="hidden md:hidden">
            <svg class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"></path>
            </svg>
          </button>
          <div id="logo" class="hidden md:block">
            <div id="logo-left"></div>
            <div id="logo-top-left"></div>
            <div id="logo-bottom-left"></div>
            <div id="logo-right"></div>
            <div id="logo-top-right"></div>
            <div id="logo-bottom-right"></div>
            <div id="logo-dot-1"></div>
            <div id="logo-dot-2"></div>
            <div id="logo-dot-3"></div>
          </div>
        </div>
        <nav id="navigation" class="hidden absolute w-full md:relative md:block md:border-t border-b border-gray-500 font-futura uppercase tracking-wide text-gray-600 bg-gray-100 pb-12 md:pb-0">
          <ul class="flex flex-col md:flex-row justify-center">
            <%= navbar_item conn: @conn, action: :about, text: "À propos" %>
            <%= navbar_item conn: @conn, action: :index, text: "Projets" %>
            <%= navbar_item conn: @conn, action: :map, text: "Carte", data: [ignore_navigation: true] %>
            <%= navbar_item conn: @conn, action: :publications, text: "Presse" %>
            <%= navbar_item conn: @conn, action: :contact, text: "Contact" %>
          </ul>
        </nav>
      </div>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <div id="content" class="relative z-0">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
