<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Parenthèse</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://use.typekit.net/nqt3mmo.css">
  </head>
  <body class="bg-gray-100 text-gray-900 overflow-y-scroll font-proxima-nova">
    <main role="main" class="container mx-auto pt-20 md:pt-6 pb-12 mb-8 px-4">
      <div class="bg-gray-100 z-20 relative">
        <div class="fixed top-0 left-0 w-full md:relative flex items-center justify-between md:justify-center md:pb-4 md:pb-6 border-gray-400 z-20 bg-gray-800 md:bg-gray-100 text-gray-100">
          <div class="flex items-baseline">
            <button id="sidebar-open" type="button" class="md:hidden p-5">
              <svg class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
              </svg>
            </button>
            <button id="sidebar-close" type="button" class="hidden md:hidden p-5">
              <svg class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"></path>
              </svg>
            </button>
            <div id="topbar-titles">
              <%= topbar_title conn: @conn, action: :index, text: "Projets" %>
              <%= topbar_title conn: @conn, action: :about, text: "À propos" %>
              <%= topbar_title conn: @conn, action: :map, text: "Carte", data: [ignore_navigation: true] %>
              <%= topbar_title conn: @conn, action: :publications, text: "Presse" %>
              <%= topbar_title conn: @conn, action: :contact, text: "Contact" %>
            </div>
          </div>
          <div class="hidden md:block mr-0 text-gray-900">
            <svg id="logo" class="fill-current" viewBox="0 0 110 76" width="110" height="76">
              <polygon points="0 0, 20 0, 20 8, 10 8,10 68, 20 68, 20 76, 0 76" />
              <polygon points="110 0, 90 0, 90 8, 100 8, 100 68, 90 68, 90 76, 110 76" />
              <rect id="logo-dot-1" x="28" y="48" width="12" height="12" />
              <rect id="logo-dot-2" x="49" y="48" width="12" height="12" />
              <rect id="logo-dot-3" x="70" y="48" width="12" height="12" />
            </svg>
          </div>
          <div class="mr-5 text-gray-600 md:hidden">
            <svg id="logo" class="fill-current" viewBox="0 0 110 76" width="45" height="31">
              <polygon points="0 0, 20 0, 20 8, 10 8,10 68, 20 68, 20 76, 0 76" />
              <polygon points="110 0, 90 0, 90 8, 100 8, 100 68, 90 68, 90 76, 110 76" />
              <rect id="logo-dot-1" x="28" y="48" width="12" height="12" />
              <rect id="logo-dot-2" x="49" y="48" width="12" height="12" />
              <rect id="logo-dot-3" x="70" y="48" width="12" height="12" />
            </svg>
          </div>
        </div>
        <nav id="navigation" class="hidden fixed top-0 left-0 bottom-0 pt-16 md:pt-0 px-6 0 z-10 w-full md:relative md:block md:border-t md:border-b border-gray-500 font-futura uppercase tracking-wide text-gray-600 bg-gray-900 md:bg-gray-100">
          <ul class="h-full md:flex md:justify-center">
            <%= navbar_item conn: @conn, action: :index, text: "Projets" %>
            <%= navbar_item conn: @conn, action: :about, text: "À propos" %>
            <%= navbar_item conn: @conn, action: :publications, text: "Presse" %>
            <%= navbar_item conn: @conn, action: :contact, text: "Contact" %>
          </ul>
        </nav>
      </div>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <div id="content" class="relative z-0">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>

    <div id="modal">
      <%= if assigns[:modal_template] do %>
        <%= render @view_module, assigns[:modal_template], assigns %>
      <% end %>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
