<%= if action_name(@conn) == @action || @active == true do %>
  <li class="navbar-item hover:text-orange-500 active">
<% else %>
  <li class="navbar-item hover:text-orange-500">
<% end %>
  <%= link @text, to: Routes.page_path(@conn, @action), id: @action, data: @data %>
</li>
